[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
boto3 = "*"
djangorestframework = "*"
markdown = "*"
mysqlclient = "*"
django-environ-2 = "*"
zappa="*"
pymysql = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.8.6"
